<li id="comment-<%= comment.id%>">
  <section class="comment">
    <% if (comment.user.avatar) { %>
    <img src="<%= comment.user.avatar %>" alt="<%= comment.user.name %>">
    <% }else{ %>
    <i class="fas fa-user"></i>
    <% } %>
    <h6 style="display: inline;"> <b><%=comment.user.name%></b></h6>
    <%= comment.content %>
    <% let hasUserLikedComment = false %>
    <% for (let like of comment.likes) { %>
    <% if (like.user == locals.user.id) { %>
    <% hasUserLikedComment = true; break; %>
    <% } %>
    <% } %>

    <% if(hasUserLikedComment) { %>
    <a href="/likes/toggle/?id=<%= comment.id %>&type=Comment" class="like-button" data-likes="<%= comment.likes.length %>"> <i class="fas fa-heart"></i> <%= comment.likes.length %> </a>
    <% } else { %>
    <a href="/likes/toggle/?id=<%= comment.id %>&type=Comment" class="like-button" data-likes="<%= comment.likes.length %>"> <i class="far fa-heart"></i> <%= comment.likes.length %> </a>
    <% } %>

    <% if(locals.user && (comment.user.id==locals.user.id ||post.user.id==locals.user.id)) { %>
    <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button"><i class="fas fa-trash-alt"></i></a>
    <% } %>
  </section>
  <br>

</li>