<li id="comment-<%= comment.id%>">
  <p>

    <%= comment.content %>
    <br>
    <small>
      <%=comment.user.name%>
    </small>
    <% if (locals.user) { %>
    <a href="/likes/toggle/?id=<%= comment.id%>&type=Comment" class="like-button" data-likes="<%= comment.likes.length %>"> <%= comment.likes.length %> Likes </a>
    <% } else { %>
    <%= comment.likes.length %> Likes
    <% } %>
    <% if(locals.user && (comment.user.id==locals.user.id ||post.user.id==locals.user.id)) { %>

    <small>
      <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">Delete</a>
    </small>
    <% } %>
    <br>
  </p>
</li>