<% for(let post of posts) { %>

<li id="post-<%= post._id%>">

  <section class="post-header">
    <% if (post.user.avatar) { %>
    <img src="<%= post.user.avatar %>" alt="<%= post.user.name %>">
    <% }else{ %>
    <i class="fas fa-user"></i>
    <% } %>
    <h5 style="display: inline;"> <%=post.user.name%></h5>
    <% if(locals.user && post.user.id==locals.user.id) { %>
    <a href="/posts/destroy/<%= post.id %>" class="delete-post-button"><i class="fas fa-trash-alt"></i></a>
    <% } %>
  </section>

  <div class="post-content"><%= post.content %></div>
  <!-- how do I know if I have liked the post -->
  <% let hasUserLiked = false %>
  <% for (let like of post.likes) { %>
  <% if (like.user == locals.user.id) { %>
  <% hasUserLiked = true; break; %>
  <% } %>
  <% } %>
  <% if(hasUserLiked) { %>
  <a href="/likes/toggle/?id=<%= post.id %>&type=Post" class="like-button" data-likes="<%= post.likes.length %>"> <i class="fas fa-heart"></i> <%= post.likes.length %> </a>
  <% } else { %>
  <a href="/likes/toggle/?id=<%= post.id %>&type=Post" class="like-button" data-likes="<%= post.likes.length %>"> <i class="far fa-heart"></i> <%= post.likes.length %> </a>
  <% } %>

  <i class="far fa-comment-dots"></i> <%= post.comments.length %>
  <hr>
  <div class="post-comments">
    <form action="/comments/create" id="post-<%=post.id%>-comments-form" method="POST">
      <div class="row">
        <div class="col-md-10">
          <textarea name="content" cols="30" rows="2" placeholder="Comment Here..." required class="new-comment-textarea btn"></textarea>
          <input type="hidden" name="post" value="<%=post.id%>">
        </div>
        <div class="col-md-1">
          <input type="submit" class="btn btn-outline-light" value="Comment">
        </div>
      </div>
    </form>

    <div class="post-comments-list">
      <ul id="post-comments-<%= post._id %>">
        <% for(let comment of post.comments) { %>
        <%- include('_comment', {comment : comment, post: post}) %>
        <% } %>
      </ul>
    </div>
  </div>

</li>

<% } %>