<link rel="stylesheet" href="/css/home.css">

<% if (locals.user) { %>
<div id="home-container">
  <section id="feed-posts">
    <div class="create-new-post">
      <!-- Button trigger modal -->
      <% if (user.avatar) { %>
      <img src="<%= user.avatar %>" alt="<%= user.name %>">
      <% }else{ %>
      <i class="fas fa-user"></i>
      <% } %>

      <button id="btn-trigger-modal" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Share something...
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Post</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required id="new-post-textarea"></textarea>

            </div>
            <div class="modal-footer">
              <input type="submit" class="btn btn-light" data-bs-dismiss="modal" value="Post">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div id="posts-list-container">
      <ul>
        <%- include('./partials/_post') %>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>
    <br>
    <% for(let u of all_users) { %>
    <p>
      <a href="/users/profile/<%= u.id%>"><%= u.name%></a>
    </p>
    <% } %>

  </section>
</div>
<% } else { %>
<div id="landing-page">

  <div class="block">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="landing-page-text">
    <h1>Instaclip</h1>
    <p>Share clips of your life with <br> people you love</p>
    <div class="button-area">
      <a href="/users/sign-in" class="btn btn-light">Sign In</a>
    </div>
  </div>

  <div class="image-wrapper">
    <img src="/images/mockup.png" alt="" height="500px" width=auto>
  </div>
  <p id="made-by-me">
    Made with ❤️ by <a href="https://github.com/aakankshabaijal">Aakanksha Baijal</a>
  </p>

</div>

<!-- <a href="https://www.freepik.com/vectors/design">Design vector created by coolvector - www.freepik.com</a>
<a href="https://www.freepik.com/psd/mockup">Mockup psd created by freepik - www.freepik.com</a> -->
<% } %>



<script src="/js/home_likes.js"></script>
<script src="/js/home_posts_comments.js"></script>
<script src="/js/home_posts.js"></script>